
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rproj.user/DF7EDB24/sources/s-BD6B51C7/D80E999A-contents
.Rproj.user/DF7EDB24/sources/prop/211EF74E
.Rproj.user/DF7EDB24/sources/prop/211EF74E
.Rproj.user/shared/notebooks/paths
.Rproj.user/DF7EDB24/sources/s-BD6B51C7/719CFF85-contents
.Rproj.user/DF7EDB24/sources/prop/D0242AF7
.Rproj.user/DF7EDB24/sources/prop/211EF74E
